/* Importação de fontes
*/
@font-face {
  font-family: "Gloria_Hallelujah";
  src: url("../fonts/gloria_hallelujah/gloria-hallelujah-regular.ttf") format("truetype");
}
@font-face {
    font-family: "Patrick_Hand";
    src: url("../fonts/patrick_hand/patrick-hand-regular.ttf") format("truetype");
}
@font-face {
    font-family: "Comic_Neue";
    src: url("../fonts/comic_neue/comic-neue-regular.ttf") format("truetype");
}

/*CSS da página: my-links
*/
.my-links * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gloria_Hallelujah";
    font-style: italic;
    font-size: 20px;
}

body.my-links {
    background: radial-gradient(circle,rgb(100, 100, 100), rgb(50, 50, 50));
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.my-links .container {
    text-align: center;
    background: rgba(255, 255, 255, 0.5);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgb(0, 0, 0);
    max-width: 400px;
    width: 100%;
}

.my-links .profile img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.my-links .profile h2 {
    margin-bottom: 10px;
    color: rgb(0, 0, 0);
}

.my-links footer {
    color: rgb(0, 0, 0);
    padding: 10px;
    margin-top: 20px;
}

/* Formatação dos "LINKS ESCALADOS"
*/
.my-links .links a {
    display: flex;
    cursor: pointer;
    justify-content: center;
    background: rgb(0, 150, 255);
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    transition: all 0.5s ease;
}

.my-links .links a:hover {
    color: rgb(255, 255, 255);
    background: rgb(0, 90, 180);
    transform: scale(1.1);
}

/* Formatação dos "ÍCONES"
*/
.my-links .links-icone img {
    width: auto;
    height: 50px;
    transition: all 0.5s ease;
}

.my-links .links-icone a .logo,
.my-links .links-icone a:hover .logo-white,
.my-links .links-icone a .mark,
.my-links .links-icone a:hover .mark-white {
    display: inline;
}

.my-links .links-icone a .logo-white,
.my-links .links-icone a:hover .logo,
.my-links .links-icone a .mark-white,
.my-links .links-icone a:hover .mark {
    display: none;
}

/*----------*/

/*CSS da página: home e adjacentes (página 'sobre' e meus posts)
*/
body.home {
    font-family: "Patrick_Hand";
    font-style: normal;
    font-size: 20px;
    margin: 0;
    padding: 0;
    background-color: rgb(100, 100, 100);
}

body h1,h2,h3,h4,h5,h6 {
    font-family: "Comic_Neue";
    font-style: italic;
}

.home header {
    font-family: "Gloria_Hallelujah";
    background: rgb(50, 50, 50);
    color: rgb(255, 255, 255);
    padding: 20px;
    text-align: center;
}

.home .container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.home .post {
    background: rgb(240, 240, 200);
    padding: 20px;
    margin: 7px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(0, 0, 0);
}

.home footer {
    background: rgb(50, 50, 50);
    color: rgb(255, 255, 255);
    font-family: "Gloria_Hallelujah";
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

/* Formatação dos "LINKS IMPORTANTES"
*/
.home .links {
    display: flex;
    cursor: pointer;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.home .links a {
    background: rgb(120, 120, 120);
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    width: auto;
    border-radius: 5px;
    transition: all 1.5s ease;
}

.home .links a:hover {
    background: rgb(200, 200, 200);
    color: rgb(0, 0, 0);
    transform: scale(1.1);
    animation: girar 2s ease;
}

@keyframes girar {
    0% {
        transform: scale(1.1) rotate(0deg);
    }

    30% {
        transform: scale(1.2) rotate(5deg);
    }

    60% {
        transform: scale(1.2) rotate(-5deg);
    }

    90% {
        transform: scale(1.1) rotate(5deg);
    }
}

/* Formatação dos "LINKS DAS POSTAGENS"
*/
.home .links-post {
    display: flex;
    cursor: pointer;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: start;
    align-items: flex-start;
}

.home .links-post a:hover {
    background: rgb(70, 130, 180);
    color: rgb(255, 255, 255);
    text-decoration: none;
    box-shadow: none;
}

/* Formatação dos "LINKS DAS POSTAGENS: NÃO SELECIONADAS"
*/
.home .links-post-no-selected a {
    background: rgb(25, 25, 100);
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    width: auto;
    border-radius: 5px;
    transition: all 0.5s ease;
}

/* Formatação dos "LINKS DAS POSTAGENS: SELECIONADAS"
*/
.home .links-post-selected a {
    background: rgba(0, 0, 0, 0);
    color: rgb(25, 25, 100);
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    width: auto;
    border-radius: 5px;
    box-shadow: inset 0 0 0 4px rgb(25, 25, 100);
    transition: all 0.5s ease;
}


/* Formatação dos "LINKS NORMAIS"
*/
.home .links-normal a {
    cursor: pointer;
    color: rgb(0, 0, 255);
    text-decoration: none;
    transition: color 0.5s ease;
}

.home .links-normal a:hover {
    color: rgb(255, 0, 0);
}

/* Formatação dos "EXEMPLOS DE CÓDIGO"
*/
.home .code-example {
    background: rgb(0, 0, 0);
    color: rgb(0, 255, 0);
    font-family: serif;
    text-decoration: none;
    font-size: clamp(0.5rem, 1rem, 2rem);
    padding: 5px;
    margin: 1px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0);
}

@media (max-width: 500px) {
    .home .code-example {
        background: rgb(0, 0, 0);
        color: rgb(0, 255, 0);
        font-family: serif;
        text-decoration: none;
        font-size: clamp(0.5rem, 0.7rem, 1rem);
        padding: 5px;
        margin: 1px;
        border-radius: 5px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0);
    }
}

/* Formatação dos "EXEMPLOS DE IMAGENS"
*/
.home .image-example {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 0.1rem;
    padding: 0.1rem;
    max-width: 100%;
    font-size: 1rem;
}

/* Formatação dos "DETALHES E SUMÁRIOS"
*/
.details {
    padding: 10px;
    margin: 10px;
    border: 3px solid rgba(0, 0, 0, 0);
    border-radius: 5px;
    transition: all 0.5s ease;
}

.summary {
    display: flex;
    cursor: pointer;
    font-weight: bold;
    font-size: 30px;
}

.summary::-webkit-details-marker {
    display: none;
}

.summary-top::before,
.summary-bottom::before {
    content: ">";
    transition: all 0.5s ease;
    font-size: 30px;
}

.details-top[open] > .summary-top::before,
.details-bottom[open] > .summary-bottom::before {
    transform: rotate(90deg);
}

/* Formatação do "DETALHE E SUMÁRIO: TOPO"
*/
.details-top {
    color: inherit;
    border-color: transparent;
    width: 90%;
}

.details-top > .summary-top:hover,
.details-top[open] > .summary-top:hover {
    color: rgb(0, 0, 255);
}

.details-top[open] > .summary-top:hover {
    border-bottom: 3px solid rgb(0, 0, 255);
}

.details-top[open]>.summary-top {
    color: rgb(255, 0, 0);
    border-bottom: 3px solid rgb(255, 0, 0);
}

/* Formatação do "DETALHE E SUMÁRIO: INFERIOR"
*/
.details-bottom {
    color: inherit;
    border-color: rgb(0, 0, 0);
}

.details-bottom[open] {
    border-color: rgb(255, 0, 0);
}

.details-bottom:hover,
.details-bottom[open]:hover {
    border-color: rgb(0, 0, 255);
}