/*----------*----------*----------*/

/* Importação de fontes tipográficas - typeface
*/
@font-face {
    font-family: "brasilero";
    src: url("/assets/fonts/Brasilero/brasilero.otf") format("truetype");
}

@font-face {
    font-family: "cabelelera";
    src: url("/assets/fonts/cabelelera/cabelelera.otf") format("truetype");
}

@font-face {
    font-family: "delius";
    src: url("/assets/fonts/delius/delius-regular.ttf") format("truetype");
}

@font-face {
    font-family: "lemonada";
    src: url("/assets/fonts/lemonada/lemonada-variable-font_wght.ttf") format("truetype");
}

/*----------*----------*----------*/

/*CSS da página: my-links
*/
.my-links * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-style: italic;
}

body.my-links {
    background: radial-gradient(circle, rgb(100, 100, 100), rgb(50, 50, 50));
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    font-family: "delius";
}

.my-links .profile img {
    width: 50%;
    height: auto;
    border-radius: 50%;
    margin-bottom: 5vw;
}

.my-links .container {
    text-align: center;
    background: rgba(255, 255, 255, 0.5);
    padding: clamp(1rem, 5vw, 3rem);
    border-radius: clamp(0.5rem, 5vw, 3rem);
    box-shadow: 0 clamp(0.2rem, 2vw, 1rem) clamp(0.5rem, 5vw, 3rem) rgb(0, 0, 0);
    max-width: 80%;
    width: auto;
}

.my-links .container h1 {
    font-size: clamp(1rem, 2vw, 3rem);
    margin-bottom: 0.5rem;
    color: rgb(0, 0, 0);
}

/* Formatação dos "LINKS ESCALADOS"
*/
.my-links .links a {
    display: flex;
    cursor: pointer;
    justify-content: center;
    background: rgb(0, 150, 255);
    color: rgb(0, 0, 0);
    text-decoration: none;
    transition: all 0.5s ease;
    padding: clamp(0.5rem, 2vw, 1.5rem);
    margin: clamp(0.5rem, 2vw, 1.5rem) 0;
    border-radius: clamp(0.5rem, 1vw, 1rem);
    font-size: clamp(1rem, 2vw, 3rem);
}

.my-links .links a:hover {
    color: rgb(255, 255, 255);
    background: rgb(0, 90, 180);
    transform: scale(1.1);
}

/* Formatação dos "ÍCONES"
*/
.my-links .links-icone img {
    width: auto;
    height: clamp(1.5rem, 10vw, 5rem);
    transition: all 0.5s ease;
}

.my-links .links-icone a .logo,
.my-links .links-icone a:hover .logo-white,
.my-links .links-icone a .mark,
.my-links .links-icone a:hover .mark-white {
    display: inline;
}

.my-links .links-icone a .logo-white,
.my-links .links-icone a:hover .logo,
.my-links .links-icone a .mark-white,
.my-links .links-icone a:hover .mark {
    display: none;
}

.my-links footer {
    color: rgb(0, 0, 0);
    font-family: "brasilero";
    font-size: clamp(1rem, 2vw, 3rem);
    padding: 1rem;
}

/*----------*----------*----------*/

/*CSS da página: index.html e adjacentes
*/
body.home {
    font-family: "delius";
    font-style: normal;
    margin: 0;
    padding: 0;
    background-color: rgb(100, 100, 100);
}

.home header {
    font-family: "delius";
    background: rgb(50, 50, 50);
    color: rgb(255, 255, 255);
    text-align: center;
    padding: clamp(0.3rem, 1.3vw, 1.5rem);
    font-size: clamp(1rem, 2vw, 3rem);
}

.home footer {
    background: rgb(50, 50, 50);
    color: rgb(255, 255, 255);
    font-family: "brasilero";
    font-size: clamp(1rem, 2vw, 3rem);
    padding: 1rem;
}

footer #main-footer,
footer #secondary-footer {
    display: inline-flex;
    vertical-align: middle;
    margin: 1rem;
}

body.home h1 {
    font-size: clamp(1rem, 2vw, 3rem);
    font-family: "lemonada";
    font-style: italic;
}

.home .container {
    width: 80%;
    margin: auto;
    padding: auto;
    overflow: hidden;
}

.home .page {
    background: rgb(240, 240, 200);
    font-size: clamp(1rem, 2vw, 3rem);
    padding: clamp(1rem, 5vw, 3rem);
    margin: clamp(0.5rem, 3vw, 2rem);
    border-radius: clamp(0.5rem, 2vw, 1.5rem);
    box-shadow: 0 0 1vw rgb(0, 0, 0);
}

/* Formatação dos "LINKS IMPORTANTES" - Se encontra no header
*/
.home .links {
    display: flex;
    cursor: pointer;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.home .links a {
    background: rgb(120, 120, 120);
    color: rgb(255, 255, 255);
    text-decoration: none;
    width: auto;
    padding: clamp(1rem, 3vw, 2rem);
    margin: clamp(1rem, 3vw, 2rem);
    border-radius: clamp(0.5rem, 2vw, 1.5rem);
    transition: all 1.5s ease;
}

.home .links a:hover {
    background: rgb(200, 200, 200);
    color: rgb(0, 0, 0);
    transform: scale(1.1);
    animation: to-rotate 2s ease;
}

@keyframes to-rotate {
    0% {
        transform: scale(1.1) rotate(0deg);
    }

    30% {
        transform: scale(1.2) rotate(5deg);
    }

    60% {
        transform: scale(1.2) rotate(-5deg);
    }

    90% {
        transform: scale(1.1) rotate(5deg);
    }
}

/* Formatação dos "LINKS DAS PÁGINAS" - Se encontra nas páginas de /pages
*/
.home .links-page {
    display: flex;
    cursor: pointer;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: start;
    align-items: flex-start;
}

.home .links-page a:hover {
    background: rgb(70, 130, 180);
    color: rgb(255, 255, 255);
    text-decoration: none;
    box-shadow: none;
}

/* Formatação dos "LINKS DAS PÁGINAS: NÃO SELECIONADAS"
*/
.home .links-page-no-selected a {
    background: rgb(25, 25, 100);
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 2vw;
    margin: 2vw;
    width: auto;
    border-radius: 1vw;
    transition: all 0.5s ease;
}

/* Formatação dos "LINKS DAS PÁGINAS: SELECIONADAS"
*/
.home .links-page-selected a {
    background: rgba(0, 0, 0, 0);
    color: rgb(25, 25, 100);
    text-decoration: none;
    padding: 2vw;
    margin: 2vw;
    width: auto;
    border-radius: 1vw;
    box-shadow: inset 0 0 0 1vw rgb(25, 25, 100);
    transition: all 0.5s ease;
}


/* Formatação dos "LINKS NORMAIS"
*/
.links-normal a {
    cursor: pointer;
    color: rgb(0, 0, 255);
    text-decoration: none;
    transition: color 0.5s ease;
}

.links-normal a:hover {
    color: rgb(255, 0, 0);
}

/* Formatação do "CÓDIGO" - PrismJS
Foi feita pela biblioteca de destaque de sintaxe leve e extensível para a web, PrismJS
*/
.code-example,
.code-example * {
    font-size: revert !important;
    font-family: revert !important;
}

/* Formatação das "IMAGENS" - As que não se baseam em nenhum conteúdo em si
*/
.image img {
    display: block;
    margin: 0 auto;
    width: clamp(30%, 50%, 100%);
    height: auto;
}

/* Formatação dos "DETALHES E SUMÁRIOS"
*/
.home .details {
    padding: 1vw;
    margin: 1vw;
    border: 1vw solid rgba(0, 0, 0, 0);
    border-radius: 1vw;
    font-size: clamp(1rem, 2vw, 3rem);
    transition: all 0.5s ease;
}

.home .summary {
    display: flex;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.5s ease;
    font-size: clamp(1rem, 2vw, 3rem);
}

.home .summary::marker {
    display: none;
}

.home .summary-underlined::before,
.home .summary-rectangular::before {
    content: ">";
    transition: all 0.5s ease;
    margin-right: 0.5rem;
    padding: 0.5rem;
}

.home .details-underlined[open]>.summary-underlined::before,
.home .details-rectangular[open]>.summary-rectangular::before {
    transform: rotate(90deg);
}

/* Formatação do "DETALHE E SUMÁRIO: UNDERLINED"
*/
.home .details-underlined {
    color: inherit;
    border-color: transparent;
    width: 90%;
}

.home .details-underlined>.summary-underlined:hover,
.home .details-underlined[open]>.summary-underlined:hover {
    color: rgb(0, 0, 255);
}

.home .details-underlined[open]>.summary-underlined:hover {
    border-bottom: 1vw solid rgb(0, 0, 255);
}

.home .details-underlined[open]>.summary-underlined {
    color: rgb(255, 0, 0);
    border-bottom: 1vw solid rgb(255, 0, 0);
}

/* Formatação do "DETALHE E SUMÁRIO: RECTANGULAR"
*/
.home .details-rectangular {
    color: inherit;
    border-color: rgb(0, 0, 0);
}

.home .details-rectangular[open] {
    border-color: rgb(255, 0, 0);
}

.home .details-rectangular:hover,
.home.details-rectangular[open]:hover {
    border-color: rgb(0, 0, 255);
}

/* Responsividade - Mobile First:
Foco em dispositivos com telas menores, para assim, ajustar para telas maiores
*/

/* Possui suporte a essas telas:
Mobile P: max-width: 360px
Mobile M: max-width: 480px
Mobile G / Phablet: max-width: 576px
Tablet P: max-width: 768px
Tablet L: max-width: 992px
Laptop: max-width: 1200px
Desktop G: min-width: 1200px
4K: min-width: 1440px
*/

/* Mobile Pequeno
@media screen and (max-width: 360px)
Padrão usado como referência para aplicação do CSS
*/

/* Mobile Médio
@media screen and (max-width: 480px)
Padrão de referência: se adapta
*/

/* Mobile Grande / Phablet (phone + tablet)
@media screen and (max-width: 576px)
Padrão de referência: se adapta
*/

/* Tablet Portrait (tablet modo retrato)
@media screen and (max-width: 768px)
Padrão de referência: se adapta
*/

/* Tablet Landscape (tablet modo paisagem)
@media screen and (max-width: 992px)
Padrão de referência: se adapta
*/

/* Laptop
@media screen and (max-width: 1200px)
Padrão de referência: se adapta
*/

/* Desktop Grande
@media screen and (min-width: 1200px)
Padrão de referência: se adapta
*/

/* 4K
@media screen and (min-width: 1440px)
Padrão de referência: se adapta
*/