/* Importação de fontes
*/
@font-face {
    font-family: "Gloria_Hallelujah";
    src: url("/assets/fonts/gloria_hallelujah/gloria-hallelujah-regular.ttf") format("truetype");
}

@font-face {
    font-family: "Patrick_Hand";
    src: url("/assets/fonts/patrick_hand/patrick-hand-regular.ttf") format("truetype");
}

@font-face {
    font-family: "Comic_Neue";
    src: url("/assets/fonts/comic_neue/comic-neue-regular.ttf") format("truetype");
}

/*CSS da página: my-links
*/
.my-links * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gloria_Hallelujah";
    font-style: italic;
}

body.my-links {
    background: radial-gradient(circle, rgb(100, 100, 100), rgb(50, 50, 50));
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.my-links .container {
    text-align: center;
    background: rgba(255, 255, 255, 0.5);
    padding: 5vw;
    border-radius: 5vw;
    box-shadow: 0 2vw 5vw rgb(0, 0, 0);
    max-width: 100rem;
    width: 80%;
}

.my-links .profile img {
    width: 50%;
    height: auto;
    border-radius: 50%;
    margin-bottom: 5vw;
}

.my-links .container h1,
.my-links .container h2,
.my-links .container h3,
.my-links .container h4,
.my-links .container h5,
.my-links .container h6 {
    font-size: 10vw;
    margin-bottom: 1vw;
    color: rgb(0, 0, 0);
}

.my-links footer {
    color: rgb(0, 0, 0);
    font-size: 5vw;
    padding: 5vw;
    margin-top: 10vw;
}

/* Formatação dos "LINKS ESCALADOS"
*/
.my-links .links a {
    display: flex;
    cursor: pointer;
    justify-content: center;
    background: rgb(0, 150, 255);
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 2vw;
    margin: 2vw 0;
    border-radius: 1vw;
    transition: all 0.5s ease;
    font-size: 7vw;
}

.my-links .links a:hover {
    color: rgb(255, 255, 255);
    background: rgb(0, 90, 180);
    transform: scale(1.1);
}

/* Formatação dos "ÍCONES"
*/
.my-links .links-icone img {
    width: auto;
    height: 10vw;
    transition: all 0.5s ease;
}

.my-links .links-icone a .logo,
.my-links .links-icone a:hover .logo-white,
.my-links .links-icone a .mark,
.my-links .links-icone a:hover .mark-white {
    display: inline;
}

.my-links .links-icone a .logo-white,
.my-links .links-icone a:hover .logo,
.my-links .links-icone a .mark-white,
.my-links .links-icone a:hover .mark {
    display: none;
}

/*----------*/

/*CSS da página: index.html e adjacentes
*/
body.home {
    font-family: "Patrick_Hand";
    font-style: normal;
    margin: 0;
    padding: 0;
    background-color: rgb(100, 100, 100);
}

body.home h1,
body.home h2,
body.home h3,
body.home h4,
body.home h5,
body.home h6 {
    font-size: 4vw;
    font-family: "Comic_Neue";
    font-style: italic;
}

.home header {
    font-size: 4vw;
    font-family: "Gloria_Hallelujah";
    background: rgb(50, 50, 50);
    color: rgb(255, 255, 255);
    padding: 5vw;
    text-align: center;
}

.home .container {
    width: 80%;
    margin: auto;
    padding: auto;
    overflow: hidden;
}

.home .post {
    font-size: 5vw;
    background: rgb(240, 240, 200);
    padding: 5vw;
    margin: 3vw;
    border-radius: 2vw;
    box-shadow: 0 0 1vw rgb(0, 0, 0);
}

.home footer {
    font-size: 4vw;
    background: rgb(50, 50, 50);
    color: rgb(255, 255, 255);
    font-family: "Gloria_Hallelujah";
    text-align: center;
    padding: 2vw;
    margin-top: 2vw;
}

/* Formatação dos "LINKS IMPORTANTES"
*/
.home .links {
    display: flex;
    cursor: pointer;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.home .links a {
    background: rgb(120, 120, 120);
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 5vw;
    margin: 3vw;
    width: auto;
    border-radius: 2vw;
    transition: all 1.5s ease;
}

.home .links a:hover {
    background: rgb(200, 200, 200);
    color: rgb(0, 0, 0);
    transform: scale(1.1);
    animation: girar 2s ease;
}

@keyframes girar {
    0% {
        transform: scale(1.1) rotate(0deg);
    }

    30% {
        transform: scale(1.2) rotate(5deg);
    }

    60% {
        transform: scale(1.2) rotate(-5deg);
    }

    90% {
        transform: scale(1.1) rotate(5deg);
    }
}

/* Formatação dos "LINKS DAS POSTAGENS"
*/
.home .links-post {
    display: flex;
    cursor: pointer;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: start;
    align-items: flex-start;
}

.home .links-post a:hover {
    background: rgb(70, 130, 180);
    color: rgb(255, 255, 255);
    text-decoration: none;
    box-shadow: none;
}

/* Formatação dos "LINKS DAS POSTAGENS: NÃO SELECIONADAS"
*/
.home .links-post-no-selected a {
    background: rgb(25, 25, 100);
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 2vw;
    margin: 2vw;
    width: auto;
    border-radius: 1vw;
    transition: all 0.5s ease;
}

/* Formatação dos "LINKS DAS POSTAGENS: SELECIONADAS"
*/
.home .links-post-selected a {
    background: rgba(0, 0, 0, 0);
    color: rgb(25, 25, 100);
    text-decoration: none;
    padding: 2vw;
    margin: 2vw;
    width: auto;
    border-radius: 1vw;
    box-shadow: inset 0 0 0 1vw rgb(25, 25, 100);
    transition: all 0.5s ease;
}


/* Formatação dos "LINKS NORMAIS"
*/
.home .links-normal a {
    cursor: pointer;
    color: rgb(0, 0, 255);
    text-decoration: none;
    transition: color 0.5s ease;
}

.home .links-normal a:hover {
    color: rgb(255, 0, 0);
}

/* Formatação dos "EXEMPLOS DE CÓDIGO"
*/
.home .code-example {
    background: rgb(0, 0, 0);
    color: rgb(0, 255, 0);
    font-family: serif;
    text-decoration: none;
    font-size: 5vw;
    padding: 2vw;
    margin: 1vw;
    border-radius: 1vw;
    box-shadow: 0 0 1vw rgba(0, 0, 0, 0);
}

/* Formatação dos "EXEMPLOS DE IMAGENS"
*/
.home .image-example {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 0.1rem;
    padding: 0.1rem;
    max-width: 100%;
    font-size: 1rem;
}

/* Formatação dos "DETALHES E SUMÁRIOS"
*/
.details {
    padding: 1vw;
    margin: 1vw;
    border: 1vw solid rgba(0, 0, 0, 0);
    border-radius: 1vw;
    transition: all 0.5s ease;
    font-size: 1em;
}

.summary {
    display: flex;
    cursor: pointer;
    font-weight: bold;
    font-size: 6vw;
}

.summary::-webkit-details-marker {
    display: none;
}

.summary-top::before,
.summary-bottom::before {
    content: ">";
    transition: all 0.5s ease;
    margin-right: 2rem;
    padding: 1rem;
}

.details-top[open]>.summary-top::before,
.details-bottom[open]>.summary-bottom::before {
    transform: rotate(90deg);
}

/* Formatação do "DETALHE E SUMÁRIO: TOPO"
*/
.details-top {
    color: inherit;
    border-color: transparent;
    width: 90%;
}

.details-top>.summary-top:hover,
.details-top[open]>.summary-top:hover {
    color: rgb(0, 0, 255);
}

.details-top[open]>.summary-top:hover {
    border-bottom: 1vw solid rgb(0, 0, 255);
}

.details-top[open]>.summary-top {
    color: rgb(255, 0, 0);
    border-bottom: 1vw solid rgb(255, 0, 0);
}

/* Formatação do "DETALHE E SUMÁRIO: INFERIOR"
*/
.details-bottom {
    color: inherit;
    border-color: rgb(0, 0, 0);
}

.details-bottom[open] {
    border-color: rgb(255, 0, 0);
}

.details-bottom:hover,
.details-bottom[open]:hover {
    border-color: rgb(0, 0, 255);
}

/* Responsividade - Mobile First:
Foco em dispositivos com telas menores, e depois ajustar para telas maiores
*/

/* Possui suporte a essas telas:
Mobile P: max-width: 360px
Mobile M: max-width: 480px
Mobile G / Phablet (phone + tablet): max-width: 576px
Tablet P: max-width: 768px
Tablet L: max-width: 992px
Laptop: max-width: 1200px
Desktop grande: min-width: 1200px
4K: min-width: 1440px
*/

/* Mobile P
@media screen and (max-width: 360px)
Padrão usado como referência
*/

/* Mobile M
@media screen and (max-width: 480px)
Padrão de referência se adapta tranquilamente
*/

/* Mobile G / Phablet (phone + tablet)
@media screen and (max-width: 576px)
Padrão de referência se adapta tranquilamente
*/

/* Tablet P
@media screen and (max-width: 768px)
Padrão de referência se adapta tranquilamente
*/

/* Tablet L
@media screen and (max-width: 992px)
Padrão de referência se adapta tranquilamente
*/

/* Laptop
@media screen and (max-width: 1200px)
Padrão de referência se adapta tranquilamente
*/

/* Desktop grande
@media screen and (min-width: 1200px)
Padrão de referência se adapta tranquilamente
*/

/* 4K
@media screen and (min-width: 1440px)
Padrão de referência se adapta tranquilamente
*/