<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Breno - Página inicial
    </title>

    <script src="/assets/components/web-component/head/head.js">
    </script>

</head>

<body class="home">

    <header>
        <h1>
            Seja muito bem-vindo(a)
        </h1>
        <h3>
            Exemplo de cabeçalho
        </h3>

        <div class="links">
            <a>
                links
            </a>
            <a>
                e
            </a>
            <a>
                mais
            </a>
            <a>
                links
            </a>
        </div>

    </header>

    <div class="container">

        <div class="post">
            <h2>
                Aqui é onde coloco componentes que estão sendo vistos no meu site
            </h2>
            <p>
                Sinta-se à vontade para explorar e usar estes componentes como base para seus próprios projetos!
            </p>
        </div>

        <div class="post" style="font-family: 'Gloria_Hallelujah';">
            <h2>
                Fonte: Gloria Hallelujah
            </h2>
            <p>
                Usei essa fonte no footer, header e na árvore de links
            </p>
        </div>

        <div class="post" style="font-family: 'Patrick_Hand';">
            <h2>
                Fonte: Patrick Hand
            </h2>
            <p>
                Usei essa fonte no corpo do texto
            </p>
        </div>

        <div class="post" style="font-family: 'Comic_Neue';">
            <h2>
                Fonte: Comic Neue
            </h2>
            <p>
                <b>
                    Usei essa fonte nos títulos (<span>
                        << /span>h1> ... <span>
                                << /span>h6>)
                </b>
            </p>
        </div>

        <div class="post links-normal">
            <h2>
                <a>
                    Um link normal num post
                </a>
            </h2>
        </div>

        <div class="post">

            <div class="links-post">

                <div class="links-post-selected">
                    <a>
                        selecionado
                    </a>
                </div>

                <div class="links-post-no-selected">
                    <a>
                        não selecionado
                    </a>
                </div>

            </div>

        </div>

        <div class="post">

            <div class="code-example">
                <code>
                    Exemplo de um bloco de código
                </code>
            </div>

        </div>

        <div class="post">

            <details class="details details-top">

                <summary class="summary summary-top">
                    Alguma coisa 1:
                </summary>

                <details class="details details-bottom">

                    <summary class="summary summary-bottom">
                        Alguma coisa 1.1:
                    </summary>

                    <h2>
                        Blá-blá-blá
                    </h2>

                </details>

                <details class="details details-bottom">

                    <summary class="summary summary-bottom">
                        Alguma coisa 1.2:
                    </summary>

                    <h2>
                        Blá-Blá-Blá
                    </h2>

                </details>

            </details>

            <details class="details details-top">

                <summary class="summary summary-top">
                    Alguma coisa 2:
                </summary>

                <details class="details details-bottom">

                    <summary class="summary summary-bottom">
                        Alguma coisa 2.1:
                    </summary>

                    <h2>
                        Blá-Blá-Blá
                    </h2>

                    <details class="details details-top">

                        <summary class="summary summary-top">
                            Muitos Blá-Blá-Blá
                        </summary>

                        <details class="details details-bottom">

                            <summary class="summary summary-bottom">
                                Muitos Blá-Blá-Blá mesmo
                            </summary>

                            <h2>
                                Blá-Blá-Blá
                            </h2>

                        </details>

                    </details>

                </details>

            </details>

        </div>

    </div>

    <footer>
        <p>
            Exemplo de rodapé
        </p>
    </footer>

</body>

</html>