<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Breno - Página inicial
    </title>

    <script src="/assets/components/web-component/head/head.js">
    </script>

</head>

<body class="home">

    <header>
        <h1>
            Exemplo de cabeçalho
        </h1>

        <div class="links">
            <a>
                botões
            </a>
            <a>
                no
            </a>
            <a>
                header
            </a>
        </div>

    </header>

    <div class="container">

        <br><br><br>
        <hr>

        <div class="page">
            <h1>
                Aqui é onde coloco componentes que estão sendo usados no meu website
            </h1>
            <p>
                Sinta-se à vontade para explorar e usar estes componentes como inspiração nos seus próprios projetos
            </p>
        </div>

        <div class="page links-normal">
            Para voltar para a página inicial:
            <br>
            <a href="/index.html" target="_self">
                clique aqui
            </a>

        </div>

        <hr>
        <br><br><br>

        <div class="page">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, velit. Recusandae natus corporis hic
                asperiores doloribus magni ex ipsam necessitatibus, aliquid dignissimos maiores totam minima obcaecati
                laudantium et ut nulla.
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, molestias repudiandae sed voluptatibus
                hic odio alias enim, voluptatem qui labore quas cupiditate eos aut ad neque adipisci quos! Deleniti,
                nobis.
            </p>
        </div>

        <div class="page links-normal" style="font-family: 'delius';">
            <p>
                Fonte: Delius, por Natalia Raices
            </p>
            <p>
                Delius é uma fonte de letra de quadrinhos de alta qualidade.
                <br><br>
                Usei essa fonte no header e no corpo do texto.
                <br><br>
                <a href="https://fonts.google.com/specimen/Delius" target="_blank">
                    Link de referência
                </a>
            </p>
        </div>

        <div class="page links-normal" style="font-family: 'lemonada';">
            <p>
                Fonte: Lemonada, por Mohamed Gaber e Eduardo Tunni
            </p>
            <p>
                Lemonada é uma fonte moderna árabe e latina, projetada para ser versátil e ser utilizada em diversos
                contextos.
                <br><br>
                Usei essa fonte nos títulos (&lt;h1&gt; ... ).
                <br><br>
                <a href="https://fonts.google.com/specimen/Lemonada" target="_blank">
                    Link de referência
                </a>
            </p>
        </div>

        <div class="page links-normal" style="font-family: 'brasilero';">
            <p>
                Fonte: Brasilêro, por Crystian Cruz
            </p>
            <p>
                Brasilêro é uma tipografia vernacular que resgata a escrita popular do Brasil, refletindo a
                expressividade e a veracidade da comunicação escrita.
                <br><br>
                Usei no footer.
                <br><br>
                <a href="https://crystiancruz.myportfolio.com/brasilero" target="_blank">
                    Link de referência
                </a>
            </p>
        </div>

        <div class="page links-normal" style="font-family: 'cabelelera';">
            <p>
                Fonte: Cabelelêra, por Bia Wolanski e Gui Storck
            </p>
            <p>
                Cabelelêra é um projeto tipográfico que combina elementos da tipografia vernacular brasileira com um
                design moderno e contemporâneo.
                <br><br>
                Será usada numa aba de projetos.
                <br><br>
                (em breve postarei...)
                <br><br>
                <a href="https://www.dadosfinos.info/2022/06/tipografia-vernacular-fonte-cabelelera-gratuita.html"
                    target="_blank">
                    Link de referência
                </a>
            </p>
        </div>

        <div class="page links-normal image">
            Sinta-se livre para usar as fontes tipográficas, porque são:
            <br><br>
            <b>Integralmente ou parcialmente feita por BRASILEIROS, e melhor ainda, são GRATUITAS!</b>😊
            <br><br>
            <b>Viva o jeitinho brasileiro!</b>
            <br>
            <img src="/assets/img/icones/br-logo/selo-colorido.png" alt="Selo Nacional Brasileiro.">
        </div>

        <div class="page links-normal">
            <h1>
                <a>
                    Um link normal numa página
                </a>
            </h1>
        </div>

        <div class="page">

            <div class="links-page">

                <div class="links-page-selected">
                    <a>
                        selecionado
                    </a>
                </div>

            </div>

        </div>

        <div class="page">

            <div class="links-page">

                <div class="links-page-no-selected">
                    <a>
                        não selecionado
                    </a>
                </div>

            </div>

        </div>

        <div class="page">
            <h1>
                Bloco e linha de código (com e sem contagem de linhas)
            </h1>

            <pre class="code-example line-numbers"><code class="language-java">
public class Teste {
    public static void main(String[] args) {
        System.out.println("Olá, Mundo!");
    }
}
                </code></pre>

            <pre class="code-example line-numbers"><code class="language-python">
print("Olá, Mundo!")
                </code></pre>

            <pre class="code-example"><code class="language-html">
&lt;!DOCTYPE html&gt;
&lt;html lang="pt-br"&gt;
&lt;head&gt;
    &lt;meta charset="UTF-8"&gt;
    &lt;meta name="viewport" content="width=device-width, initial-scale=1.0"&gt;
    &lt;title&gt;
        Exemplo
    &lt;/title&gt;
&lt;/head&gt;
&lt;body&gt;

    &lt;h1&gt;
        Olá Mundo!
    &lt;/h1&gt;
    
&lt;/body&gt;
&lt;/html&gt;
                </code></pre>

            <pre class="code-example"><code class="language-javascript">
console.log("Olá, Mundo!");
                </code></pre>

        </div>

        <div class="page">

            <details class="details details-underlined">

                <summary class="summary summary-underlined">
                    Alguma coisa 1:
                </summary>

                <details class="details details-rectangular">

                    <summary class="summary summary-rectangular">
                        Alguma coisa 1.1:
                    </summary>

                    <h1>
                        Blá-blá-blá
                    </h1>

                </details>

                <details class="details details-rectangular">

                    <summary class="summary summary-rectangular">
                        Alguma coisa 1.2:
                    </summary>

                    <h1>
                        Blá-blá-blá
                    </h1>

                </details>

            </details>

            <details class="details details-underlined">

                <summary class="summary summary-underlined">
                    Alguma coisa 2:
                </summary>

                <details class="details details-rectangular">

                    <summary class="summary summary-rectangular">
                        Alguma coisa 2.1:
                    </summary>

                    <h1>
                        Blá-blá-blá
                    </h1>

                    <details class="details details-underlined">

                        <summary class="summary summary-underlined">
                            Muitos blá-blá-blá
                        </summary>

                        <details class="details details-rectangular">

                            <summary class="summary summary-rectangular">
                                Muitos blá-blá-blá mesmo
                            </summary>

                            <h1>
                                Blá-blá-blá
                            </h1>

                        </details>

                    </details>

                </details>

            </details>

        </div>

        <div class="page links-normal">
            Caso queira utilizar meus ícones deste site, sinta-se a vontade:
            <br>
            <a href="/pages/bugigangas/bugigangas.html" target="_self">
                Link de referência
            </a>

        </div>

    </div>

    <footer>
        <p>
            Exemplo de rodapé
        </p>
    </footer>

    <script type="module" src="/assets/js/script.js">
    </script>

</body>

</html>