<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Breno - Página inicial
    </title>

    <script src="/assets/components/web-component/head/head.js">
    </script>

</head>

<body class="home">

    <header>
        <h1>
            Exemplo de cabeçalho
        </h1>

        <div class="links">
            <a>
                botões
            </a>
            <a>
                no
            </a>
            <a>
                header
            </a>
        </div>

    </header>

    <div class="container">

        <div class="page">
            <h2>
                Aqui é onde coloco componentes que estão sendo usados no meu website
            </h2>
            <p>
                Sinta-se à vontade para explorar e usar estes componentes como inspiração nos seus próprios projetos!
            </p>
        </div>

        <div class="page" style="font-family: 'Gloria_Hallelujah';">
            <h2>
                Fonte: Gloria Hallelujah
            </h2>
            <p>
                Usei essa fonte no footer, header e na árvore de links
            </p>
        </div>

        <div class="page" style="font-family: 'Patrick_Hand';">
            <h2>
                Fonte: Patrick Hand
            </h2>
            <p>
                Usei essa fonte no corpo do texto
            </p>
        </div>

        <div class="page" style="font-family: 'Comic_Neue';">
            <h2>
                Fonte: Comic Neue
            </h2>
            <p>
                <b>
                    Usei essa fonte nos títulos (<span><</span>h1> ... <span><</span>h6>)
                </b>
            </p>
        </div>

        <div class="page links-normal">
            <h2>
                <a>
                    Um link normal numa página
                </a>
            </h2>
        </div>

        <div class="page">

            <div class="links-page">

                <div class="links-page-selected">
                    <a>
                        selecionado
                    </a>
                </div>

                <div class="links-page-no-selected">
                    <a>
                        não selecionado
                    </a>
                </div>

            </div>

        </div>

        <div class="page">

            <div class="code-example">
                <code>
                    Exemplo de um bloco de código
                </code>
            </div>

        </div>

        <div class="page">

            <details class="details details-underlined">

                <summary class="summary summary-underlined">
                    Alguma coisa 1:
                </summary>

                <details class="details details-rectangular">

                    <summary class="summary summary-rectangular">
                        Alguma coisa 1.1:
                    </summary>

                    <h2>
                        Blá-blá-blá
                    </h2>

                </details>

                <details class="details details-rectangular">

                    <summary class="summary summary-rectangular">
                        Alguma coisa 1.2:
                    </summary>

                    <h2>
                        Blá-Blá-Blá
                    </h2>

                </details>

            </details>

            <details class="details details-underlined">

                <summary class="summary summary-underlined">
                    Alguma coisa 2:
                </summary>

                <details class="details details-rectangular">

                    <summary class="summary summary-rectangular">
                        Alguma coisa 2.1:
                    </summary>

                    <h2>
                        Blá-Blá-Blá
                    </h2>

                    <details class="details details-underlined">

                        <summary class="summary summary-underlined">
                            Muitos Blá-Blá-Blá
                        </summary>

                        <details class="details details-rectangular">

                            <summary class="summary summary-rectangular">
                                Muitos Blá-Blá-Blá mesmo
                            </summary>

                            <h2>
                                Blá-Blá-Blá
                            </h2>

                        </details>

                    </details>

                </details>

            </details>

        </div>

        <br><br><br>

        <div class="page links-normal">
            Para voltar para a página inicial:
            <br>
            <a href="/index.html" target="_self">
                clique aqui
            </a>

        </div>

    </div>

    <footer>
        <p>
            Exemplo de rodapé
        </p>
    </footer>

</body>

</html>